<div id="bookbus" class="container-fluid" ng-show="case">
    <h2>{{intro}}{{case}}</h2>
    <div class="col-md-4 col-md-offset-4">
        <div id="1">
            <label for=""><input type="text" placeholder="请输入姓名"/></label>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
            <input type="text" placeholder="工厂名自动填充" disabled/>
        </div>
        <div id="2">
            <label for=""><input type="text" placeholder="选择加班日期"/></label>
            <ul>
                <li>2:00</li>
                <li>2:00</li>
                <li>2:00</li>
                <li>2:00</li>
            </ul>
        </div>
        <div id="3">
            <label for=""><input type="text" placeholder="选择加班时间"/></label>
            <ul>
                <li>2:00</li>
                <li>2:00</li>
                <li>2:00</li>
                <li>2:00</li>
            </ul>
        </div>
        <div id="4">
            <label for=""><input type="text" placeholder="选择下车地点"/></label>
            <ul>
                <li>回家</li>
                <li>回家</li>
                <li>回家</li>
                <li>回家</li>
            </ul>
        </div>
        <div>
            <button class="btn btn-info">确认预约</button>
            <button class="btn btn-danger" ng-click="manbus()">{{a}}</button>
        </div>
    </div>
</div>