<div id="main-left" class="col-md-6">
    <!--<div id="main-left-1">重要通知信息</div>
    <div id="main-left-2">园区文化</div>
    <div id="main-left-3">学术交流</div>
    <div id="main-left-4">参观接待</div>
    <div id="main-left-5" class="container-fluid">
        <div class="col-md-6">设备维修</div>
        <div class="col-md-6">意见箱</div>
    </div>-->

    <main-left-info></main-left-info>
    <main-left-cul></main-left-cul>
    <main-left-com></main-left-com>
    <main-left-view></main-left-view>
    <main-left-fixbox></main-left-fixbox>

</div>