<div id="main-right" class="col-md-6 container-fluid">
    <main-right-search></main-right-search>
    <div id="main-right-serve">
        <span style="padding-right: 10px;"><a href="">餐饮</a></span>
        <span style="padding-left: 10px;"><a href="">园区直饮水</a></span>
    </div>
    <div id="main-right-heal">{{heal}}</div>
    <div id="main-right-yard">
        <span style="padding-right: 10px;"><a href="">{{green}}</a></span>
        <span style="padding-left: 10px;"><a href="">{{clear}}</a></span>
    </div>
    <main-right-bus></main-right-bus>
    <div id="main-right-onwork">
        <button class="col-md-4 col-md-offset-2 btn btn-success">加班申请</button>
        <button class="col-md-4 col-md-offset-1 btn btn-danger">加班管理</button>
    </div>
</div>