<div class="container-fluid" style="padding: 0" id="manage">
    <div id="manage-left" class="col-md-2" style="padding: 0">
        <ul >
            <li ng-repeat="item in items" ng-click="show($index)"><a href="">{{item}}</a></li>
        </ul>
    </div>
    <div id="manage-right" class="col-lg-10" style="overflow-y: scroll">
        <div ng-if="val">
            <manage-busblock></manage-busblock>
        </div>
        <div ng-if="val">
            <manage-busblock></manage-busblock>
        </div>
        <div ng-if="val">
            <manage-busblock></manage-busblock>
        </div>
        <div ng-if="val">
            <manage-busblock></manage-busblock>
        </div>
        <div ng-if="val">
            <manage-busblock></manage-busblock>
        </div>

    </div>
</div>