<div id="manageBusblock">
    <h2>管理班车</h2>
    <div>
        <span id="manageBusblock-switchbtn">
            <button>添加班车</button>
            <button>删除班车</button>
        </span>
        <ul>
            <li>
                <label for="">
                    <span>添加班车</span>
                    <input type="text"/>
                </label>
            </li>
            <li>
                <label for="">
                    <span>添加时间</span>
                    <input type="text"/>
                </label>
            </li>
            <li>
                <label for="">
                    <span>添加地点</span>
                    <input type="text"/>
                </label>
            </li>
            <li>
                <button>确定</button>
                <button>重置</button>
            </li>
        </ul>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    
</div>