* {
  margin: 0;
  padding: 0;
}
#main-top {
  background-color: #60c0c5;
  height: 80px;
  margin-bottom: 20px;
}
#main-top h1 {
  text-align: center;
  font-weight: bolder;
  width: 100%;
  height: inherit;
}
#main-left-info {
  width: 100%;
  height: 140px;
  background-color: #60c0c5;
  margin-bottom: 20px;
  text-align: center;
  line-height: 140px;
}
#loginBox {
  width: 440px;
  height: auto;
  background-color: #60c0c5;
  border-radius: 2px;
  position: fixed;
  min-height: 480px;
  box-shadow: 3px 3px 5px 4px #a6e1ec;
  display: none;
  border-radius: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  margin-top: 80px;
  z-index: 10000;
}
#loginBox > span {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #a94442;
  top: -20px;
  right: -20px;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -ms-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  cursor: pointer;
}
#loginBox > span:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
#loginBox > div {
  width: 100%;
  height: 100%;
}
#loginBox > div > div {
  width: 100%;
  height: 100px;
  /*&:hover{
        background-color: #b92c28;
      }*/
}
#loginBox > div > div label {
  display: block;
  width: 80%;
  height: 60px;
  margin: 10px auto;
  position: relative;
  -webkit-transition: ease-in 0.24s;
  -moz-transition: ease-in 0.24s;
  -ms-transition: ease-in 0.24s;
  -o-transition: ease-in 0.24s;
  transition: ease-in 0.24s;
}
#loginBox > div > div label input {
  width: 100%;
  height: 100%;
  text-indent: 120px;
  font-size: 1.8rem;
  -webkit-transition: ease-in 0.24s;
  -moz-transition: ease-in 0.24s;
  -ms-transition: ease-in 0.24s;
  -o-transition: ease-in 0.24s;
  transition: ease-in 0.24s;
}
#loginBox > div > div label span {
  display: block;
  min-width: 100px ;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 2rem;
  -webkit-transition: ease-in 0.24s;
  -moz-transition: ease-in 0.24s;
  -ms-transition: ease-in 0.24s;
  -o-transition: ease-in 0.24s;
  transition: ease-in 0.24s;
}
#loginBox > div > div b {
  height: 100%;
  margin: 20px auto;
  overflow: hidden;
  display: block;
  width: 300px;
}
#loginBox > div > div b button {
  min-width: 100px;
  height: 40px;
  margin-left: 24px;
}
#loginBox > div > div:first-child {
  width: 100%;
  height: 120px;
  margin-top: 20px;
}
#loginBox > div > div:first-child img {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
#main-left-cul {
  width: 100%;
  height: 140px;
  background-color: #60c0c5;
  margin-bottom: 20px;
  text-align: center;
  line-height: 140px;
}
#main-left-com {
  width: 100%;
  height: 140px;
  background-color: #60c0c5;
  margin-bottom: 20px;
  text-align: center;
  line-height: 140px;
}
#main-left-view {
  width: 100%;
  height: 140px;
  background-color: #60c0c5;
  margin-bottom: 20px;
  text-align: center;
  line-height: 140px;
}
#main-left-fixbox {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 100px;
  padding: 0;
}
#main-left-fixbox span {
  width: 50%;
  height: inherit;
  float: left;
  padding: 0;
}
#main-left-fixbox span a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #60c0c5;
}
/*main-right-start*/
#main-right-search {
  width: 100%;
  height: 80px;
  background-color: #60c0c5;
  line-height: 80px;
  overflow: hidden;
  vertical-align: middle;
}
#main-right-search input {
  height: 60%;
  vertical-align: middle;
  line-height: 48px;
  margin-top: 16px;
}
#main-right-search button {
  vertical-align: middle;
  margin-top: 20px;
}
#main-right-serve {
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
  line-height: 120px;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}
#main-right-serve span {
  width: 50%;
  height: inherit;
  float: left;
}
#main-right-serve span a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #60c0c5;
}
#main-right-heal {
  width: 100%;
  height: 100px;
  background-color: #60c0c5;
  line-height: 100px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
}
#main-right-yard {
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
  line-height: 120px;
  overflow: hidden;
  text-align: center;
}
#main-right-yard span {
  width: 50%;
  height: inherit;
  float: left;
}
#main-right-yard span a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #60c0c5;
}
#main-right-bus {
  width: 100%;
  min-height: 100px;
  background-color: #60c0c5;
  margin-bottom: 20px;
  position: relative;
}
#main-right-bus > div:last-child {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}
#main-right-bus > div:last-child button {
  padding: 2px 4px;
  float: right;
  margin-right: 12px;
}
#main-right-onwork {
  width: 100%;
  height: 70px;
  background-color: #60c0c5;
}
#main-right-onwork button {
  margin-top: 19px;
}
/*bus*/
#bookbus {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 0;
  /*h2{
    margin-top: 0;
    width: 100%;
    height: 60px;
    line-height:60px;
    text-align: center;
    font-weight: bolder;
    background-color: #337ab7;
    color: #ffffff;
  }*/
}
#bookbus h2 {
  margin-top: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bolder;
  background-color: #337ab7;
  color: #ffffff;
}
#bookbus > div {
  background-color: #60c0c5 ;
  border-radius: 8px;
  /*height: 88%;*/
  position: relative;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -ms-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  margin-bottom: 10px;
  padding-bottom: 100px;
}
#bookbus > div > div:first-child {
  position: relative;
  margin-top: 10px;
}
#bookbus > div > div:first-child label {
  width: 100%;
  margin: 0 auto;
  height: 40px;
}
#bookbus > div > div:first-child label input {
  width: 100%;
  height: 100%;
  text-indent: 20px;
}
#bookbus > div > div:first-child ul {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 40px;
  display: none;
}
#bookbus > div > div:first-child ul li {
  list-style: none;
}
#bookbus > div > div:first-child ul li:hover {
  background-color: #b92c28;
  line-height: 40px;
}
#bookbus > div > div:first-child input {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  text-indent: 20px;
}
#bookbus > div > div:nth-child(4),
#bookbus > div > div:nth-child(2),
#bookbus > div > div:nth-child(3) {
  position: relative;
  margin-top: 20px;
}
#bookbus > div > div:nth-child(4) label,
#bookbus > div > div:nth-child(2) label,
#bookbus > div > div:nth-child(3) label {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  border-radius: 18px 0 0 0;
  overflow: hidden;
}
#bookbus > div > div:nth-child(4) label input,
#bookbus > div > div:nth-child(2) label input,
#bookbus > div > div:nth-child(3) label input {
  width: 100%;
  height: 100%;
  text-indent: 20px;
}
#bookbus > div > div:nth-child(4) ul,
#bookbus > div > div:nth-child(2) ul,
#bookbus > div > div:nth-child(3) ul {
  width: 100%;
  top: 40px;
  overflow: hidden;
  padding: 0;
}
#bookbus > div > div:nth-child(4) ul li,
#bookbus > div > div:nth-child(2) ul li,
#bookbus > div > div:nth-child(3) ul li {
  list-style: none;
  /*padding: 0 36px;*/
  width: 25%;
  height: 40px;
  float: left;
  background-color: #b92c28;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  margin-top: 2px;
}
#bookbus > div > div:nth-child(4) ul li:hover,
#bookbus > div > div:nth-child(2) ul li:hover,
#bookbus > div > div:nth-child(3) ul li:hover {
  background-color: #245269;
  line-height: 40px;
}
#bookbus > div > div:last-child {
  /*margin-top: 40px;*/
  overflow: hidden;
  position: absolute;
  bottom: 26px;
  width: 100%;
}
#bookbus > div > div:last-child button {
  /*margin-left: 30px;*/
  margin-right: 30px;
  float: right;
}
#bookbus > div > ul {
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #60c0c5;
  border-radius: 8px;
  padding-bottom: 10px;
}
#bookbus > div > ul li {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  list-style: none;
  cursor: pointer;
  /*text-overflow: ;*/
}
#bookbus > div > ul li:hover {
  /*font-size: 1.1em;*/
  line-height: 55px;
  font-weight: bolder;
  color: #ffffff;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -ms-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
#managementbus {
  overflow: hidden;
  padding: 0;
}
#managementbus h2 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bolder;
  background-color: #337ab7;
  color: #ffffff;
  margin-top: 0;
  padding: 0;
}
#managementbus > div > ol {
  width: 100%;
}
#managementbus > div > ol li {
  list-style: none;
  width: 100%;
  min-height: 260px;
  background-color: #60c0c5;
  margin-bottom: 20px;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -ms-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
#managementbus > div > ol li > div {
  min-height: 36px;
  width: 100%;
}
#managementbus > div > ol li > div label {
  line-height: 36px;
  margin-left: 20px;
  font-size: 2rem;
  min-width: 110px;
  text-align: right;
}
#managementbus > div > ol li > div input {
  background-color: #60c0c5;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  text-indent: 10px;
  outline-color: #a94442;
}
#managementbus > div > ol li > div:first-child {
  background-color: #245269;
}
#managementbus > div > ol li > div:first-child label {
  color: white;
}
#managementbus > div > ol li > div:first-child input {
  background-color: #245269;
  border: none;
  text-indent: 10px;
  font-weight: bold;
  color: white;
  font-size: 1.6rem;
}
#managementbus > div > ol li > div:last-child {
  margin-top: 14px;
}
#managementbus > div > ol li > div:last-child button {
  width: 20%;
  margin-left: 20%;
}
#manage-left ul {
  background-color: #60c0c5;
  margin: 0;
}
#manage-left ul li {
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.8rem;
}
#manage-left ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
#manage-right {
  padding-top: 0;
  height: 100%;
  background-color: #a94442;
}
#manageBusblock {
  padding-top: 0;
  width: 100%;
  min-height: 500px;
}
#manageBusblock h2 {
  height: 80px;
  text-align: center;
  background-color: #60c0c5;
  color: white;
  font-weight: bolder;
  padding: 0;
  line-height: 80px;
  margin-top: 0;
  display: none;
}
#manageBusblock > div {
  width: 100%;
  position: relative;
}
#manageBusblock > div > span {
  display: block;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
#manageBusblock > div > span button {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  float: left;
  font-size: 2rem;
}
#manageBusblock > div > ul,
#manageBusblock > div ol {
  width: 100%;
  position: absolute;
  top: 60px;
}
#manageBusblock > div > ul li,
#manageBusblock > div ol li {
  list-style: none;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #444444;
}
#manageBusblock > div ol {
  display: none;
}
.footer {
  bottom: 0;
  margin-top: 30px;
  clear: both;
  height: 200px;
  background-color: #245269;
  z-index: 0;
}
/*anmiate*/
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translate(0, 100%) rotateZ(17deg);
  }
}
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@keyframes sildeInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes sildeInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes sildeOutleft {
  to {
    transform: translateX(-100%);
    opacity: 0.3;
  }
}
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
.pagebus {
  background-color: #60c0c5;
}
.ng-enter {
  z-index: 9999;
}
.ng-leave {
  z-index: 8888;
}
.pagemain.ng-enter {
  animation: scaleUp 0.5s both ease-in;
}
.pagemain.ng-leave {
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
}
.pagebus.ng-enter {
  animation: slideInRight 0.5s both ease-in;
}
.pagebus.ng-leave {
  animation: slideOutLeft 0.3s both ease-in;
}
